@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);/*import fancy font*/

html, body{
	font-family: 'Open Sans';
	font-weight: lighter;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
}

div#div_parent{
	margin: 100px auto 0 auto;
	background-color: rgba(123, 123, 123, 1);
	height: auto;
	width: 30%;
	min-width: 320px;
}

div#div_login{
	height: inherit;
	width: 100%;
	background-color: rgba(0, 128, 255, 1);
	box-shadow: 6px 6px 25px 0px rgba(0,0,0,0.75);
	/*display: none;*/
}

div#wrapper{
	width: 250px;
	margin: 0 auto;
	color: #ffffff;
}

input{
	margin-bottom: 15px;
}

input[type="submit"]{/*generated (and later edited by me) by bestcssbuttongenerator.com*/
	height: 40px;
	width: 100px;
	font-size: 17px;	
	box-shadow: 6px 6px 25px 0px rgba(0,0,0,0.75);
	background-color:#ffffff;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#0080ff;
	text-decoration:none;
}

input[type="submit"]:hover{
	background-color: #c2c2c2;
}

input[type="submit"]:active{
	position: relative;
	top: 1px;
	box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.75);
}